@media (min-width: 768px) {
    .main {
      display: grid;
      grid-template-columns: 20rem 1fr;
    }
  }

  .header {
    padding-bottom: 2rem;
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header--logo{
    width: 30%;
    
  }
  .loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
  }